<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GetMenusSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:42706/GetMenus.asmx" binding="basicHttpBinding"
                bindingConfiguration="GetMenusSoap" contract="MenusServiceReference.GetMenusSoap"
                name="GetMenusSoap" />
        </client>
    </system.serviceModel>
</configuration>